/* body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #035531;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading-container {
  text-align: center;
  margin-bottom: 20px;
  font-style: bold;
  
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100px;
  height: 300px;

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  width: 200px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 120px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: #cccccc;
  color: white;
}

.button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}

.view-container {
  margin-top: 20px;
} */


/* Add your custom CSS styles here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li button {
  margin-left: 10px;
}

li:last-child {
  margin-bottom: 0;
}
